server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/techup?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: Rootroot1234!

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true

  application:
    name: spring-be