server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/techup?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: rootroot
    driver-class-name: com.mysql.cj.jdbc.Driver

  sql:
    init:
      mode: always

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: spring-be

jwt:
  expiration_time: 86400000 #1Ïùº
  secret: w92jd81nD9sqP01mS9vC4nZ8qL02mNd91pQ3bV7xK0rH6tJ9uM4wR2pL8zQ0sB7

file:
  upload-dir: uploads/