server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://database-1.cnyeuw0suver.ap-northeast-2.rds.amazonaws.com:3306/techup?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: Rootroot1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: spring-be
